* {
    box-sizing: border-box;
}

#nagyKep {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

#nagyKepHelye {
    text-align: center;
}

.kis-kep-tarolo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.kis-kep-tarolo > img {
    width: 100%;
}